/* JOSUE R BOSQUE POMALES */
/* Last Update: July 18, 2022 */

/**********************************************/
/**************** GENERAL CSS *****************/
/**********************************************/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #444;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: lightcoral;
}

header {
    width: 90%;
    margin: 0 auto;
}

.item img, .skills li {
    box-shadow: 2.5px 2.5px 10px #444;
}

/**********************************************/
/***************** HEADER CSS *****************/
/**********************************************/

#top h1 {
    margin: 5%;
    font-family: 'Nunito', sans-serif;
}

.menu-header {
    width: 90%;
    margin: 2.5% auto;
    padding: 2.5% 0;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.profile-pic {
    width: 80%;
    max-width: 290px;
    height: auto;
    margin-top: 10%;
}

.bio {
    margin: 5% auto 10%;
    color: #999;
    line-height: 1.5rem;
}

/**********************************************/
/************** MAIN CONTENT CSS **************/
/**********************************************/

#portfolio, #skills {
    margin: 0 auto;
    background-color: rgb(213, 239, 255);
}

h4, h3 {
    font-family: 'Merriweather', serif;
    color: rgb(0, 146, 156);
}

.centered-title {
    margin: 0;
    padding: 10%;
    text-transform: uppercase;
}

.portfolio .container {
    display:flex; 
    flex-wrap: wrap;
}

.item img {
    width: 90%;
    margin-bottom: 5%;
}

.item p {
    margin: 6%;
    padding-bottom: 10%;
    line-height: 1.25;
}

#skills {
    padding: 0 0 10% 0;
}

#skills ul {
    display:flex; 
    flex-wrap: wrap;
}

.skill-list {
    margin: 2.5%;
    padding-top: 25px;
    width: 45%;
    height: 50px;
    font-size: 1.25rem;
    color: aliceblue;
    background-color: lightseagreen;
    border-radius: 10px;
    vertical-align: top;
}

.skill-list:hover {
    color: lightgoldenrodyellow;
    background-color: lightcoral;
}

/**********************************************/
/***************** FOOTER CSS *****************/
/**********************************************/

footer {
    margin: 0 5%;
}

#contact p {
    margin: 0 auto 5%;
    color: #777;
    line-height: 1.5;
}

hr {
    margin-top: 20%;
}

.footer-nav {
    display:flex; 
    flex-flow: row;
    font-weight: bold;
}

.student-name {
    width: 50%;
    margin: 10% 0;
    text-align: left;
}

.menu-footer {
    width: 50%;
    margin: 10% 0;
    text-transform: uppercase;
    text-align: right;
}

.nav {
    display: none;
}

/**********************************************/
/*************** MEDIA QUERIES ****************/
/**********************************************/

@media (min-width: 768px) {

    /***************** FLEXBOX *****************/
    .student-info, .top-header ul, #portfolio, .menu-footer, .nav {
        display:flex; 
    }

    /***************** HEADER *****************/
    
    .menu-header {
        width: 20%;
        background-color: transparent;
    }

    .profile-pic, .bio {
        margin: 5% auto 10%;
        vertical-align: top;
    }

    .bio {
        width: 55%;
        text-align: left;
        font-size: 1.15rem;
        line-height: 1.5;
    }
    
    .profile-pic {
        order: 1;
    }
    
    /************** MAIN CONTENT **************/

    #portfolio {
        flex-direction: column;
    }

    .centered-title {
        padding: 10%;
    }

    .container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        
    }

    .item p {
        font-size: 1.1rem;
    }

    .item img {
        width: 95%;
    }
    
    .item {
        width: 50%;
        vertical-align: top;
    }

    #skills .centered-title {
        padding: 5% 0 10%;
        margin-top: 5%;
    }

    .skill-list {
        margin: 2.5%;
        width: 20%;
    }

    /***************** FOOTER *****************/

    #contact p {
        margin: 0 12% 5%;
        font-size: 1.25rem;
    }

    .student-name {
        width: 35%;
    }

    .menu-footer, .nav {
        justify-content: end;
    }

    .menu-footer {
        width: 65%;
    }

    .nav {
        flex-direction: row;
        width: 20%;
    }
    
    .pad {
        padding-right: 5% ;
    }

    .back-to-top {
        display: none;
    }

    hr {
        margin-top: 10%;
    }

    .menu-footer, .student-name {
        margin: 5% auto;
    }

}


@media (min-width: 1024px) {

    
    header, main, footer {
        max-width: 1000px;
        margin: 0 auto;
    }

    /***************** HEADER *****************/

    .top-header {
        display:flex; 
        flex-flow: row;
    }

    #top h1 {
        width: 30%;
        margin: 5% 1.5%;
        text-align: left;
    }

    .top-header ul {
        width: 69%;
        margin: auto 0;
        text-align: right;
    }
   
    .menu-header {
        justify-content: end;
    }

    .top-pad {
        padding-right: 5%;
    }

    .profile-pic, .bio {
        margin: 2.5% auto 5%;
    }

    .profile-pic {
        max-width: 350px;
        height: auto;
    }

    .bio {
        font-size: 1.3rem;
    }

    /************** MAIN CONTENT **************/

    #portfolio, #skills {
        width: 95%;
    }

    .container {
        width: 95%;
    }

    .item {
        width: 33.33%;
    }

    .item img {
        width: 95%;
    }

    .item p {
        margin: 5.5%;
        font-size: 1rem;
    }

    .skill-list {
        margin: 2.5%;
        width: 20%;
    }

    /***************** FOOTER *****************/

    #contact p {
        font-size: 1.3rem;
        width: 60%;
        margin: 0 auto 2%;
    }

    #contact .note {
        margin-bottom: 5%;
    }
}